{% extends "helper_board_app/base.html" %}

{% block content %}
<form action="{%url 'helper_board_app:new_request' %}" method="post" class="form">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_category">カテゴリー:</label>
        <select name="category" id="id_category" class="form-select">
        <option value="1" selected>勉強</option>
        <option value="2">部活・サークル</option>
        <option value="3">行事</option>
        <option value="4">その他</option>
        </select>     
    </div>

    <div class="form-group">
        <label for="id_text">要件の要約:</label>
        <input type="text" name="text" maxlength="200" required id="id_text" class="form-control">   
    </div>
    
    <div class="form-group mt-3">
        <label for="id_detail">詳細:</label>
        <textarea name="detail" cols="40" rows="10" required id="id_detail"></textarea>    
    </div>
    <button name="submit" class="btn btn-primary mt-3">助っ人を募集する</button>
</form>
{% endblock %}